@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

/* ### Primary */



.text-soft-orange {
    color: hsl(35, 77%, 62%);
}
/* - Soft red: hsl(5, 85%, 63%) */

/* ### Neutral */

/* - Off-white: hsl(36, 100%, 99%) */
/* - Grayish blue: hsl(233, 8%, 79%) */
/* - Dark grayish blue: hsl(236, 13%, 42%) */
/* - Very dark blue: hsl(240, 100%, 5%) */

.text-dark-grayish-blue {
    color: hsl(236, 13%, 42%);
}

.bg-dark-grayish-blue{
    background-color: hsl(236, 13%, 42%);
}

.inter{
    font-family: "Inter";
}